<!DOCTYPE html>
<html>
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="blogs content">
      <h2>About Us</h2>
      <p class="about-text">
        Welcome to our Superhero Blog's About Page! Here, we embark on an
        exciting journey through the captivating realm of superheroes and their
        extraordinary narratives. Our mission is to dive deep into the world of
        iconic characters, uncovering their origins, powers, and the moral
        complexities that shape their stories. With a passion for all things
        super-powered, our team of enthusiasts is dedicated to bringing you
        engaging and insightful content. From the legendary capes to the
        lesser-known crusaders, we're here to celebrate the diversity and
        richness of the superhero universe. We believe that superheroes
        transcend comic book pages; they mirror our aspirations, challenges, and
        the eternal struggle between good and evil. Through thought-provoking
        articles, character analyses, and explorations of comic lore, we aim to
        bridge the gap between die-hard fans and newcomers, fostering a
        community that thrives on shared excitement. Whether you're a fan of the
        classic heroes, a staunch supporter of the antiheroes, or intrigued by
        the intricate plots that intertwine their destinies, our blog promises
        something for everyone. So, join us as we take flight into the
        kaleidoscopic skies of heroism, unmasking the layers of hero identities
        and delving into the remarkable narratives that continue to inspire
        generations. Together, let's uncover what truly makes a hero super.
      </p>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
