@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;800&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto Slab";
  margin: 20px auto;
  padding: 0 50px;
  background-color: #000;
  color: #fff;
}
p,
h1,
h2,
h3,
a,
ul {
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
}

.btn-container {
  display: flex;
  align-items: flex-end;
  gap: 15px;
}

.nav-btn {
  padding: 10px;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  width: 120px;
  border: 1px solid #fff;
  outline: none;
  font-family: "Roboto Slab";
  font-size: 15px;
  cursor: pointer;
}

.nav-btn a {
  color: #000;
  text-decoration: none;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
nav li {
  list-style-type: none;
  margin-left: 20px;
}
nav h1 {
  font-size: 3rem;
}
nav p,
nav a {
  color: #fff;
  font-weight: 400;
}

footer {
  color: #ffffff;
  margin: 80px auto 10px;
}
h2 {
  margin-bottom: 40px;
}
h3 {
  text-transform: capitalize;
  margin-bottom: 8px;
}

.home-page {
  display: flex;
  align-items: center;
  padding: 0px 20px;
  margin-top: 100px;
}
.home-content {
  flex: 1;
}

.home-content h2 {
  font-size: 50px;
}

.home-content p {
  font-size: 20px;
}

.home-content button {
  padding: 15px;
  background-color: #fff;
  color: #000;
  font-family: "Roboto Slab";
  font-size: 17px;
  margin-top: 40px;
  width: 250px;
  border-radius: 10px;
  border: 1px solid #fff;
  cursor: pointer;
  outline: none;
}

.home-content button,
a {
  color: #000;
  text-decoration: none;
}

.home-img {
  flex: 1;
  align-items: center;
}

.home-img img {
  width: 100%;
}

.form-container {
  display: flex;
  justify-content: center;
  padding: 50px 0px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 0px 0px 20px;
}

.form-container label {
  margin-top: 24px;
  margin-bottom: 5px;
  font-size: 18px;
}

.form-container h2 {
  font-size: 45px;
  margin-bottom: 24px;
}

.form-container input {
  padding: 10px;
  width: 90%;
  font-size: 16px;
  font-family: "Roboto Slab";
}

.form-container button {
  width: 40%;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  color: #000;
  font-size: 18px;
  border: 1px solid #fff;
  outline: none;
  margin-top: 24px;
  cursor: pointer;
}

.content {
  margin-left: 20px;
}
.create-blog h1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 40px;
}
.create-blog form {
  max-width: 400px;
  margin: 0 auto;
}
.create-blog input,
.create-blog textarea {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}
.create-blog label {
  margin-top: 24px;
}
textarea {
  height: 120px;
}
.create-blog button {
  margin-top: 20px;
  background-color: #fffdfd;
  width: 200px;
  color: #000000;
  padding: 10px;
  border: 0;
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: 500;
  cursor: pointer;
}

.about-text {
  font-size: 25px;
}
.name {
  margin-bottom: 5px;
  font-size: 25px;
}
.alias {
  margin-bottom: 10px;
  font-weight: 400;
}
.body {
  padding-bottom: 10px;
  margin-bottom: 10px;
  width: 1000px;
}

.date {
  font-size: 15px;
}

.index-title {
  margin-bottom: 25px;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.single-blog {
  color: #fff;
  text-decoration: none;
  display: block;
  margin: 40px 0px;
  padding-left: 20px;
  border-left: 5px solid #660099;
}

.story-title {
  font-size: 45px;
}
.story-text {
  font-size: 25px;
}

.email-error {
  color: red;
  font-size: 12px;
}
.pass-error {
  color: red;
  font-size: 12px;
}
.username-error {
  color: red;
  font-size: 12px;
}

.home-user {
  font-weight: 500;
  font-size: 18px;
}

.account {
  margin: 20px 0px 0px 30px;
}

.account a {
  color: #660099;
  text-decoration: underline;
}

.burger-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  body {
    padding: 20px;
  }
  nav {
    flex-direction: column;
  }

  nav h1 {
    font-size: 40px;
    text-align: center;
  }

  nav p {
    text-align: center;
  }

  nav ul {
    margin-top: 40px;
  }

  nav ul li {
    margin-left: 0;
  }

  .home-nav h1 {
    margin-bottom: 30px;
    font-size: 35px;
  }

  .home-page {
    flex-direction: column-reverse;
    padding: 0;
    margin-top: 20px;
  }

  .home-page h2 {
    font-size: 30px;
    text-align: left;
  }

  .home-page p {
    font-size: 17px;
  }

  .home-content button {
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }

  .btn-container {
    flex-direction: column;
    display: none;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
  }

  .nav-btn {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    margin-top: 15px;
  }

  .home-user {
    width: 100%;
    text-align: center;
  }

  .content {
    width: 100%;
    margin-left: 0;
  }

  .body {
    width: 100%;
    font-size: 17px;
  }

  .about-text {
    font-size: 18px;
  }

  .create-blog form {
    width: 100%;
    margin: 0;
  }

  .create-blog input,
  .create-blog textarea {
    width: 95%;
  }

  .create-blog button {
    width: 100%;
  }

  .story-title {
    font-size: 38px;
  }

  .story-text {
    font-size: 18px;
  }

  .create-blog h1 {
    font-size: 30px;
  }

  .form-container {
    width: 100%;
  }

  .form-container form {
    width: 100%;
  }

  .form-container label {
    font-size: 16px;
  }

  .form-container button {
    width: 100%;
    font-size: 16px;
  }

  .burger-menu {
    display: inline-block;
    margin-left: 120px;
    cursor: pointer;
  }

  .btn-container.active {
    display: block;
    max-height: 300px; /* Adjust this value as needed */
    opacity: 1;
  }
}
